params.processing_executable = "/u/home/l/lixinzhe/project-github/scDRS-applications/code/met-scDRS-method/version-2.0/inverse-fraction.py"
params.methylation_csv = "/u/project/geschwind/lixinzhe/data/Liu_et_al_2021_methylation_gse132489/unique_mcg_gene_fraction.csv"
params.methylation_processed_output = "/u/project/geschwind/lixinzhe/data/Liu_et_al_2021_methylation_gse132489/processed-full/v2.0/processed-met-scDRS-mcg.csv"
params.h5ad_coversion_executable = "/u/home/l/lixinzhe/project-github/scDRS-applications/code/met-scDRS-method/version-2.0/csv-to-h5ad.py"
params.meta_data = "/u/project/geschwind/lixinzhe/data/Liu_et_al_2021_methylation_gse132489/processed-full/all_meta_data.csv"
params.h5ad_output = "/u/project/geschwind/lixinzhe/data/Liu_et_al_2021_methylation_gse132489/processed-full/v2.0/processed-met-scDRS-mcg.h5ad"
params.gene_set_file = "/u/project/geschwind/lixinzhe/scDRS-output/magma-out/Kangcheng-gs/gs_file/magma_10kb_top1000_zscore.75_traits.rv1.gs"
params.species = "mouse"
params.output_dir = "/u/project/geschwind/lixinzhe/scDRS-output/met-scDRS-v2.0/mcg/GSE132489-full/"