params.get_unfinished_executable = "/u/home/l/lixinzhe/project-github/scDRS-applications/code/met-scDRS-method/version-2.0/get-remaining-gs.R"
params.scdrs_folder = "/u/project/geschwind/lixinzhe/scDRS-output/met-scDRS-v2.0/mch/GSE132489-full/"
params.gs_file = "/u/project/geschwind/lixinzhe/scDRS-output/magma-out/Kangcheng-gs/gs_file/magma_10kb_top1000_zscore.75_traits.rv1.gs"
params.remaining_gs_file = "/u/scratch/l/lixinzhe/tmp-file/remaining-gs-file.gs"
params.h5ad = "/u/project/geschwind/lixinzhe/data/Liu_et_al_2021_methylation_gse132489/processed-full/v2.0/processed-met-scDRS-mch.h5ad"
params.species = "mouse"