params.processing_executable = "/u/home/l/lixinzhe/project-github/scDRS-applications/code/met-scDRS-method/version-2.0/inverse-fraction.R"
params.methylation_csv = "/u/home/l/lixinzhe/project-geschwind/data/GSE215353/processed/v1.2/processed-mch-gene-name.csv"
params.methylation_processed_output = "/u/home/l/lixinzhe/project-geschwind/data/GSE215353/processed/v2.0/processed-met-scDRS-mch.csv"
params.h5ad_coversion_executable = "/u/home/l/lixinzhe/project-github/scDRS-applications/code/met-scDRS-method/version-2.0/csv-to-h5ad.py"
params.meta_data = "/u/home/l/lixinzhe/project-geschwind/data/GSE215353/processed/meta/subset-mch-meta.csv"
params.h5ad_output = "/u/home/l/lixinzhe/project-geschwind/data/GSE215353/processed/v2.0/processed-met-scDRS-mch.h5ad"
params.gene_set_file = "/u/project/geschwind/lixinzhe/scDRS-output/magma-out/Kangcheng-gs/gs_file/magma_10kb_top1000_zscore.75_traits.rv1.gs"
params.species = "human"
params.output_dir = "/u/project/geschwind/lixinzhe/scDRS-output/met-scDRS-v2.0/mch/GSE215353-subset/"