params.processing_executable = "/u/home/l/lixinzhe/project-github/scDRS-applications/code/met-scDRS-method/version-1.0/inverse-fraction.R"
params.methylation_csv = "/u/project/pasaniuc/lixinzhe/data/Liu_et_al_2021_methylation_gse132489/subset_randomized_mcg_gene_fraction.csv"
params.methylation_processed_output = "/u/project/geschwind/lixinzhe/data/processed-met-GSE132489-mcg.csv"
params.h5ad_coversion_executable = "/u/home/l/lixinzhe/project-github/scDRS-applications/code/met-scDRS-method/version-1.0/csv-h5ad-conversion.R"
params.h5ad_output = "/u/project/geschwind/lixinzhe/data/processed-met-GSE132489-mcg.h5ad"
params.gene_set_file = "/u/project/geschwind/lixinzhe/scDRS-output/magma-out/Kangcheng-gs/gs_file/magma_10kb_top1000_zscore.74_traits.rv1.gs"
params.output_dir = "/u/project/geschwind/lixinzhe/scDRS-output/GSE132489/mcg/met-scDRS-v1-run/LXZ-74-traits/"